<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title><%= club.name %></title>
    </head>
    <body>
        <h1><%= club.name %></h1>
        <h2>Message Wall</h2>
        <a class="btn" href="/clubs">Back to clubs</a>
        <div class="messages">
            <% messages.forEach(message => { %>
            <div class="message">
                <p><%= message.text %></p>
            </div>
            <% }) %>
        </div>
    </body>
</html>
